<h1><%= "New #{@mapping.parent_map.subject.humanize.titleize} #{@mapping.parent_map.attr.humanize.titleize} Mapping" %></h1>

<%= render 'form' %>

<%= link_to 'Back', mappings_path(subject: @mapping.parent_map.subject, attr: @mapping.parent_map.attr) %>
